html, body {
 margin: 0;
 background-color: #EDF0F5;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-box {
  background-color: #3B5998;
  color: white;
  height: 85px;
  font-weight: normal;
  font-size: 13px;

}

.top-box button {
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

h1 {
  font-size: 40px;
  float: left;
  padding-left: 30px;
}

h2 {
  font-size: 34px;
}

.container {
  float: right;
  padding-top: 45px;
  padding-right: 40px;
}

button {
  background-color: #4267B2;
  border: none;
  color: white;
}

.site-features {
  float: left;
  clear: left;
  padding-left: 10%;
}

.features-list li {
  margin-bottom: 1.5em;
}

.signup-forms {
  float: right;
  font-size: 18px;
  padding-right: 30px;
}

input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #BDC7D8;
  border-style: solid;
  border-width: thin;
}

.forms input {
  font-size: 18px;
  margin-bottom: 0.5em;
}

.name-input input {
  width: 200px;
  height: 30px;
}

.enter-email input {
  width: 408px;
  height: 30px;
}

.pw-input input {
  width: 408px;
  height: 30px;
}

.confirm-pw input {
  width: 408px;
  height: 30px;
}
